#設定ファイル名
voipqos.agent.ConfigFileName = agent.config

# snmpwalkコマンド関係
# voipqos.agent.snmpwalk = [snmpwalkコマンドへの絶対パス]
# (windowsの例)(OpenView)c:\\Program Files\\HP OpenView\\Nnm\\bin\\snmpwalk.exe
# (windowsの例)(NetView)c:\\usr\\ov\\bin\\snmpwalk.exe
# (UNIXの例)(NetView)/usr/OV/bin/snmpwalk
# voipqos.agent.snmpget = [snmpgetコマンドへの絶対パス]
voipqos.agent.snmpwalk = C:\\sim\\sim.exe
voipqos.agent.snmpget = c:\\ucd-snmp-4.2.3-win32\\usr\\bin\\snmpget.exe

#コマンドタ行桙フタイムアウト條ヤ(秒)
voipqos.agent.command.timeout = 120

#RMIの設定(レジストリ)
voipqos.agent.port = 2056

#RMIの設定(サーバ)
voipqos.agent.serverport = 2057
