/* Configuration source file for JRMP server */

import net.jini.discovery.LookupDiscovery;
import net.jini.jrmp.JrmpExporter;
import java.lang.String;

com.tymeac.jini.base.TymeacServer {
  
  /* JAAS login */
  loginContext = new LoginContext("com.tymeac.jini.base.TymeacServer");        

} //end com.tymeac.jini.base.TymeacServer
