/* Configuration source file for a non SSL server */

import com.tymeac.jini.base.JiniServerPermission;
import com.sun.jini.config.KeyStores;

import java.util.Collections;

import java.security.Permission;
import javax.security.auth.login.LoginContext;

import net.jini.constraint.BasicMethodConstraints;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.core.constraint.Integrity;
import net.jini.core.constraint.ServerAuthentication;
import net.jini.core.constraint.ServerMinPrincipal;
import net.jini.discovery.LookupDiscovery;
import net.jini.security.*;
import net.jini.jeri.*;
import net.jini.jeri.ssl.*;
import net.jini.lookup.entry.*;
import net.jini.core.entry.Entry;

com.tymeac.TymeacServer {
    
    /* Exporter for the server proxy */
    exporter =
          /* Use secure exporter */
          new BasicJeriExporter(
          
              /* Use SSL transport */
              SslServerEndpoint.getInstance(0),
              
              /* No constraints */              
              new BasicILFactory());

    private groups = new String[] { "TymeacServer" };
    discoveryManager = new LookupDiscovery(groups, this);
    
    /* Service Info  */
    private xname = new Name("com.tymeac.jini.JiniServer");
    myName = xname;
    
    private xinfo = new ServiceInfo("Non Activatable Jini Tymeac Server",
                                    "CoopSoft.com",
                                    "Cooperative Software Systems, Inc.",
                                    "5.5",
                                    "",
                                    "");
    info = xinfo;                                    

}//end com.tymeac.TymeacServer

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    private serviceLookupConstraints = 
              new BasicMethodConstraints( 
                  new InvocationConstraints( 
                      new InvocationConstraint[]{ 
                          Integrity.NO,            
                          ClientAuthentication.NO, 
                          ServerAuthentication.NO,                             
                          new ServerMinPrincipal(
                              com.tymeac.TymeacServer.reggieUser)
                      },
                  null));

  static registrarPreparer = 
      new BasicProxyPreparer(); 

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the join manager */
net.jini.lookup.JoinManager {

    static registrarPreparer    = 
  net.jini.discovery.LookupDiscovery.registrarPreparer;
  
    static registrationPreparer = 
  net.jini.discovery.LookupDiscovery.registrarPreparer;
  
    static serviceLeasePreparer = 
  net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.JoinManager

